<div class="buffer">

</div>


<div class="container">
  <h1 class="display-4"><span id="contact"></span>Portfolio</h1>
</div>

<br>

<div class="container">
<div class="portfolio-center">
<h2><%= link_to "Engagements", engagements_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://photos-2.dropbox.com/t/2/AACJq05BLQK_2QR72C5qstcOh3gtfkAvUIE77sAZElc40Q/12/31694285/jpeg/32x32/1/_/1/2/20160628-IMG_9563-Edit.jpg/ELKXltQEGIkEIAIoAg/rk66_zjbYqB_nZvYGD1xhqsWBO-ZdIX2JPhCohhhoHk%2CvTsUz-y2IV8b-q6QbTb1oXLo1QoaJ0yFO2XbznE3t4I%2C4aW0xw3UoMXdROmejT1cw0MQZRBWNg9R7F3-A30icxA%2CNs9TBVz_qYNmgtC-GrlS37oMngbE6ot7YyN_Vyts49U?size=2048x1536&size_mode=3" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Weddings", weddings_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://photos-1.dropbox.com/t/2/AACH6e98mjp6sBzseRSomInxY9LlTxMK-SHojV6YzlpyqA/12/31694285/jpeg/32x32/1/_/1/2/20161230-_N9A7356.jpg/ELOcgBgYhTYgAigC/63HEQ7I4tXWwBMJe5jCWrDN5KVhn9bdONEZ3LYGH18c?size=2048x1536&size_mode=3" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Events", events_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://s28.postimg.org/azyucc1ul/24316387586_ea0b03d195_k.jpg" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Pets", pets_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/12219407_10153609400295239_1917906495480663513_n.jpg?oh=22005e21548aad2b16333aad5bb0d787&oe=58EE743D" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Product", product_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://s24.postimg.org/owcl4yled/28765452333_88ddba97a1_k.jpg" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Other", other_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://scontent.fbos1-1.fna.fbcdn.net/v/t31.0-8/14468578_10154347741665239_8474240219968983201_o.jpg?oh=bdff3ff73227636e9e77699d78e542d6&oe=5919FB38" alt=""></p>
</div>
</div>
