<div class="buffer">

</div>


<div class="container">
  <h1 class="display-4"><span id="contact"></span>Portfolio</h1>
</div>

<br>

<div class="container">
<div class="portfolio-center">
<h2><%= link_to "Engagements", engagements_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://s27.postimg.org/nzltu2jnn/kaitandcullen.jpg" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Weddings", weddings_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://s23.postimg.org/erqp6yzl7/weddings.jpg" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Events", events_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://s28.postimg.org/azyucc1ul/24316387586_ea0b03d195_k.jpg" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Pets", pets_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://scontent.fzty2-1.fna.fbcdn.net/v/t1.0-9/12219407_10153609400295239_1917906495480663513_n.jpg?oh=22005e21548aad2b16333aad5bb0d787&oe=58EE743D" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Product", product_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://s24.postimg.org/owcl4yled/28765452333_88ddba97a1_k.jpg" alt=""></p>
</div>

<div class="portfolio-center">
<h2><%= link_to "Other", other_path, class: "nav-link" %></h2>
<p><img class="portfolioPhotos" src="https://scontent.fbos1-1.fna.fbcdn.net/v/t31.0-8/14468578_10154347741665239_8474240219968983201_o.jpg?oh=bdff3ff73227636e9e77699d78e542d6&oe=5919FB38" alt=""></p>
</div>
</div>
