<div class="buffer">

</div>
<div class="container">
<h1><%= @photo.id %></h1>
</div>

<div class="container">
<p>(<%= link_to "Edit", edit_photo_path(@photo) %>  |
<%= link_to "Delete", @photo, method: :delete, data: { confirm: 'Are you sure?' }%>)</p>
</div>

<div class="container">
<div class="photo">
  <%= image_tag @photo.image_address %>
</div>
</div>

<div class="container">
  <%= link_to "back", :back %>
</div>
