<!DOCTYPE html>
<html>
  <head>
    <title>Matthew Connors Photography</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">

  </head>

  <body>

    <nav class="navbar navbar-light bg-success">
  <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-toggleable-md" id="navbarResponsive">
    <a class="navbar-brand" href="#"><%= link_to "Matthew Connors Photography", root_path, class: "logo" %></a>
    <ul class="nav navbar-nav float-xl-right float-l-right float-md-right">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Portfolio", portfolio_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class: "nav-link" %>
      </li>
      <% if !current_user %>
        <li class="nav-item"><%= link_to "Sign up", new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Sign in", new_user_session_path, class: "nav-link" %></li>
      <% else %>
      <li class="nav-item"><%= link_to 'Edit Profile',edit_user_registration_path, class: "nav-link"%></li>
      <li class="nav-item"><%= link_to "View All My Photos", photos_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "My Albums", albums_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "nav-link" %></li>
      <% end %>
      </li>
    </ul>
  </div>
</nav>

    <div class="notice alert"><%= notice %><%= alert %></div>




      <%= yield %>


      <!-- FOOTER SECTION

      <div class="bg-success" id="footer">

            <h2 id="footer-text" class="display-5">Connect with me on Social Media</h2>
            <a href="https://github.com/mconnors333" target="_blank"><img src="https://s11.postimg.org/qaj20q48z/1477000357_github.png" class="socialIcons"></a>
            <a href="https://www.linkedin.com/in/matthew-connors" target="_blank"><img src="https://s4.postimg.org/8r9c7rdm5/1477000196_linkedin_circle.png" class="socialIcons"></a>
            <a href="https://twitter.com/Matt__Connors" target="_blank"><img src="https://s4.postimg.org/fx13a7mp9/1477000165_twitter_circle.png" class="socialIcons"></a>
            <a href="https://www.instagram.com/matt_connors_photo/" target="_blank"><img src="https://s4.postimg.org/i0bihvmi5/1477000175_instagram_circle.png" class="socialIcons"></a>
            <a href="https://www.viewbug.com/member/Matt__Connors#/Matt__Connors/gallery?sort=mostview" target="_blank"><img src="https://www.viewbug.com/media/images/layout/profile/slideshow_empty280x280.jpg" class="socialIcons" id="viewbug"></a>


        </div> -->

        <!-- FOOTER -->
        <footer>
          <p class="float-xl-right float-md-right float-l-right float-sm-right"><a href="#">Back to top</a></p>
          <p>© 2017 Matthew Connors Photography, Inc.</p>
        </footer>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
  </body>
</html>
